/*Removes hover effect*/
.btn-secondary{
    pointer-events: none;
}

/*For products page list*/
body {
    margin: 0;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5385;
    text-align: left;
}

.mt-50 {
    margin-top: 50px
}

.mb-50 {
    margin-bottom: 50px
}

a {
    text-decoration: none !important
}

.buttonsright{
    float: right;
}