/*For nav bar title centering*/
.navbar-brand{
    padding-left: 100px;
}
/*Removes hover effect*/
.btn-secondary{
    pointer-events: none;
}
body {
    overflow-y: scroll; /* Show vertical scrollbar */
}
/*Removes hover effect*/
.removeHover{
    pointer-events: none;
}






/*All Product Page Below*/
a {
	text-decoration: none !important;
}

.card-product-list,
.card-product-grid {
	margin-bottom: 0;
}

.card {
	width: 500px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 23px;
	margin-top: 50px;
}

.card-product-grid .img-wrap {
	border-radius: 0.2rem 0.2rem 0 0;
	height: 220px;
}

.card .img-wrap {
	overflow: hidden;
}

.card-lg .img-wrap {
	height: 280px;
}

.card-product-grid .img-wrap {
	border-radius: 0.2rem 0.2rem 0 0;
	height: 275px;
	padding: 16px;
}

[class*='card-product'] .img-wrap img {
	height: 100%;
	max-width: 100%;
	width: auto;
	display: inline-block;
	-o-object-fit: cover;
	object-fit: cover;
}

.img-wrap {
	text-align: center;
	display: block;
}

.card-product-grid .info-wrap {
	overflow: hidden;
	padding: 18px 20px;
}

[class*='card-product'] a.title {
	color: #171a1d;
	display: block;
	font-size: 15pt;
}

.card-product-grid .bottom-wrap {
	padding: 18px;
	border-top: 1px solid #e4e4e4;
}

.bottom-wrap-desc {
	padding: 0px;
	border-top: 1px solid #e4e4e4;
}

.rated {
	font-size: 14px;
	color: #747981;
}

.btn {
	display: inline-block;
	font-weight: 600;
	color: #343a40;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.45rem 0.85rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.2rem;
}
/*Centers the Buy Now Button*/
.buy{
	margin-left: auto;
	margin-right: auto;
}