/*For home page card listings, adds spacing*/
.col-12{
    padding-bottom: 2%;
}
/*For home page title size on 3060Ti card*/
.ti{
    font-size: 1.4rem;
    padding-bottom: 0px; 
}
/*For nav bar title centering*/
.navbar-brand{
    padding-left: 100px;
}
/*Removes hover effect*/
.btn-secondary{
    pointer-events: none;
}





/*For products page list*/
body {
    margin: 0;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5385;
    text-align: left;
}

.mt-50 {
    margin-top: 50px
}

.mb-50 {
    margin-bottom: 50px
}

a {
    text-decoration: none !important
}